<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="tests.JuiceShopTestsWithTestNG">
				<methods>
					<include name="testLogin" />
					<include name="testRegisterUser" />
					<include name="testAddToCart" />
					<include name="testIncreaseAllQty" />
					<include name="testCheckout" />
					<include name="testAddNewAddress" />					
					<include name="testSelectOneDayDelivery" />
					<include name="testMakePayment" />
					<include name="testPlaceOrderAndPay" />
					<include name="testViewOrderHistory" />
					<include name="testTrackOrder" />
					<include name="testPrintOrderConfimation" />
					<include name="testLogout" />
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
